AWSTemplateFormatVersion: "2010-09-09"
Description: "The Story Hub Backend Infrastructure"

Parameters:
  Stage:
    Type: String
    Description: Deployment stage (e.g., dev, prod)
    AllowedPattern: ^[a-zA-Z0-9-]+$
  AppName:
    Type: String
    Description: Application short name (used in export names)
    Default: thestoryhub
  TemplateBucketName:
    Type: String
    Description: Name of the S3 bucket containing nested stack templates
  ResolversBuildHash:
    Type: String
    Description: Optional build hash to version resolver S3 keys
  SchemaHash:
    Type: String
    Description: Content hash of GraphQL schema for versioning
  LogRetentionInDays:
    Type: Number
    Description: Number of days to retain CloudWatch Logs for nested stacks
    Default: 14
  DomainName:
    Type: String
    Description: Custom domain name for CloudFront (e.g., the-story-hub.com)
    Default: ""
  HostedZoneId:
    Type: String
    Description: Route53 Hosted Zone ID for domain validation
    Default: ""

Conditions:
  IsProd: !Equals [!Ref Stage, "prod"]
  HasCustomDomain: !And
    - !Condition IsProd
    - !Not [!Equals [!Ref DomainName, ""]]

Resources:
  # DynamoDb Tables
  DynamoDbStack:
    Type: AWS::CloudFormation::Stack
    Properties:
      TemplateURL: !Sub https://${TemplateBucketName}.s3.${AWS::Region}.amazonaws.com/resources/DynamoDb/dynamoDb.yaml
      Parameters:
        Stage: !Ref Stage
        AppName: !Ref AppName

  # S3 Buckets for frontend and assets
  S3Stack:
    Type: AWS::CloudFormation::Stack
    Properties:
      TemplateURL: !Sub https://${TemplateBucketName}.s3.${AWS::Region}.amazonaws.com/resources/S3/s3.yaml
      Parameters:
        Stage: !Ref Stage
        AppName: !Ref AppName

  # Cognito Resources
  CognitoStack:
    Type: AWS::CloudFormation::Stack
    DependsOn: DynamoDbStack
    Properties:
      TemplateURL: !Sub https://${TemplateBucketName}.s3.${AWS::Region}.amazonaws.com/resources/Cognito/cognito.yaml
      Parameters:
        Stage: !Ref Stage
        AppName: !Ref AppName
        TemplateBucketName: !Ref TemplateBucketName
        DataTableName: !GetAtt DynamoDbStack.Outputs.DataTableName
        LogRetentionInDays: !Ref LogRetentionInDays

  # CloudFront Distribution
  CloudFrontStack:
    Type: AWS::CloudFormation::Stack
    DependsOn: S3Stack
    Properties:
      TemplateURL: !Sub https://${TemplateBucketName}.s3.${AWS::Region}.amazonaws.com/resources/CloudFront/cloudfront.yaml
      Parameters:
        Stage: !Ref Stage
        AppName: !Ref AppName
        AppBucketName: !GetAtt S3Stack.Outputs.FrontendBucketName
        AppBucketArn: !GetAtt S3Stack.Outputs.FrontendBucketArn
        AppBucketRegionalDomainName: !GetAtt S3Stack.Outputs.FrontendBucketRegionalDomainName
        CertificateArn: !If [HasCustomDomain, "arn:aws:acm:us-east-1:430118819356:certificate/395eac12-e59b-479f-9334-cece4f368405", ""]
        CustomDomainName: !Ref DomainName

  # Lambda Functions
  LambdaStack:
    Type: AWS::CloudFormation::Stack
    DependsOn: [CloudFrontStack, DynamoDbStack, CognitoStack]
    Properties:
      TemplateURL: !Sub https://${TemplateBucketName}.s3.${AWS::Region}.amazonaws.com/resources/Lambda/lambda.yaml
      Parameters:
        Stage: !Ref Stage
        AppName: !Ref AppName
        AppCloudFrontDistributionId: !GetAtt CloudFrontStack.Outputs.CloudFrontDistributionId
        AppCloudFrontDomainName: !GetAtt CloudFrontStack.Outputs.CloudFrontDomainName
        FromEmail: noreply@tshxample.com
        AppURL: !Sub "https://${CloudFrontStack.Outputs.CloudFrontDomainName}"
        TemplateBucketName: !Ref TemplateBucketName
        UserPoolId: !GetAtt CognitoStack.Outputs.UserPoolId
        UserPoolClientId: !GetAtt CognitoStack.Outputs.UserPoolClientId
        LogRetentionInDays: !Ref LogRetentionInDays
        DataTableName: !GetAtt DynamoDbStack.Outputs.DataTableName
        PatreonCampaignId: ""
        PatreonWebhookSecret: ""
        GoogleOAuthSecretsArn: !GetAtt CognitoStack.Outputs.GoogleOAuthSecretsArn
        FacebookOAuthSecretsArn: !GetAtt CognitoStack.Outputs.FacebookOAuthSecretsArn

  # AppSync API
  AppSyncStack:
    Type: AWS::CloudFormation::Stack
    DependsOn: [DynamoDbStack, CognitoStack, LambdaStack]
    Properties:
      TemplateURL: !Sub https://${TemplateBucketName}.s3.${AWS::Region}.amazonaws.com/resources/AppSync/appsync.yaml
      Parameters:
        Stage: !Ref Stage
        AppName: !Ref AppName
        TemplateBucketName: !Ref TemplateBucketName
        UserPoolId: !GetAtt CognitoStack.Outputs.UserPoolId
        DataTableName: !GetAtt DynamoDbStack.Outputs.DataTableName
        AppSyncDynamoDBRoleArn: !GetAtt DynamoDbStack.Outputs.AppSyncDynamoDBRoleArn
        ResolversBuildHash: !Ref ResolversBuildHash
        SchemaHash: !Ref SchemaHash
        LogRetentionInDays: !Ref LogRetentionInDays

Outputs:
  ApiUrl:
    Description: AppSync API URL
    Value: !GetAtt AppSyncStack.Outputs.AppSyncApiUrl
    Export:
      Name: !Sub nlmonorepo-${AppName}-${Stage}-api-url

  ApiId:
    Description: AppSync API ID
    Value: !GetAtt AppSyncStack.Outputs.AppSyncApiId
    Export:
      Name: !Sub nlmonorepo-${AppName}-${Stage}-api-id

  UserPoolId:
    Description: "Cognito User Pool ID for the application"
    Value: !GetAtt CognitoStack.Outputs.UserPoolId
    Export:
      Name: !Sub "nlmonorepo-${AppName}-${Stage}-user-pool-id"

  UserPoolClientId:
    Description: "Cognito User Pool Client ID for the application"
    Value: !GetAtt CognitoStack.Outputs.UserPoolClientId
    Export:
      Name: !Sub "nlmonorepo-${AppName}-${Stage}-user-pool-client-id"

  IdentityPoolId:
    Description: "Cognito Identity Pool ID for the application"
    Value: !GetAtt CognitoStack.Outputs.IdentityPoolId
    Export:
      Name: !Sub "nlmonorepo-${AppName}-${Stage}-identity-pool-id"

  WebsiteBucket:
    Description: "S3 bucket for frontend website assets"
    Value: !GetAtt S3Stack.Outputs.FrontendBucketName
    Export:
      Name: !Sub "nlmonorepo-${AppName}-${Stage}-website-bucket"

  CloudFrontDistributionId:
    Description: "CloudFront Distribution ID"
    Value: !GetAtt CloudFrontStack.Outputs.CloudFrontDistributionId
    Export:
      Name: !Sub "nlmonorepo-${AppName}-${Stage}-cloudfront-id"

  CloudFrontDomainName:
    Description: "CloudFront Distribution Domain Name"
    Value: !GetAtt CloudFrontStack.Outputs.CloudFrontDomainName
    Export:
      Name: !Sub "nlmonorepo-${AppName}-${Stage}-cloudfront-domain"

  DataTableName:
    Description: "DynamoDB Data Table Name"
    Value: !GetAtt DynamoDbStack.Outputs.DataTableName
    Export:
      Name: !Sub "nlmonorepo-${AppName}-${Stage}-datatable-name"

  PatreonWebhookApiUrl:
    Description: "Patreon API Gateway URL for admin endpoints"
    Value: !GetAtt LambdaStack.Outputs.PatreonWebhookApiUrl
    Export:
      Name: !Sub "nlmonorepo-${AppName}-${Stage}-patreon-api-url"
