AWSTemplateFormatVersion: "2010-09-09"
Description: "Shared AWS resources for NL Mono Repo applications"

Parameters:
  Stage:
    Type: String
    Description: Deployment stage (e.g., dev, prod)
    AllowedPattern: ^[a-zA-Z0-9-]+$
  TemplateBucketName:
    Type: String
    Description: Name of the S3 bucket containing nested stack templates

Resources:
  # KMS Key for encryption
  KMSStack:
    Type: AWS::CloudFormation::Stack
    Properties:
      TemplateURL: !Sub https://${TemplateBucketName}.s3.amazonaws.com/resources/KMS/KMS.yaml
      Parameters:
        Stage: !Ref Stage

Outputs:
  KMSKeyId:
    Description: KMS Key ID for encryption
    Value: !GetAtt KMSStack.Outputs.KMSKeyId
    Export:
      Name: !Sub nlmonorepo-shared-${Stage}-kms-key-id

  KMSKeyArn:
    Description: KMS Key ARN
    Value: !GetAtt KMSStack.Outputs.KMSKeyArn
    Export:
      Name: !Sub nlmonorepo-shared-${Stage}-kms-key-arn

  TemplateBucketName:
    Description: S3 bucket containing nested stack templates
    Value: !Ref TemplateBucketName
    Export:
      Name: !Sub nlmonorepo-shared-${Stage}-template-bucket-name
