AWSTemplateFormatVersion: "2010-09-09"
Description: "Card Counting Trainer Backend Infrastructure"

Parameters:
  Stage:
    Type: String
    Description: Deployment stage (e.g., dev, prod)
    AllowedPattern: ^[a-zA-Z0-9-]+$
  AppName:
    Type: String
    Description: Application short name (used in export names)
    Default: bjcct
  TemplateBucketName:
    Type: String
    Description: Name of the S3 bucket containing nested stack templates
  ResolversBuildHash:
    Type: String
    Description: Optional build hash to version resolver S3 keys
  SchemaHash:
    Type: String
    Description: Content hash of GraphQL schema for versioning
  LogRetentionInDays:
    Type: Number
    Description: Number of days to retain CloudWatch Logs for nested stacks
    Default: 14

Resources:
  # DynamoDB Tables
  DynamoDBStack:
    Type: AWS::CloudFormation::Stack
    Properties:
      TemplateURL: !Sub https://${TemplateBucketName}.s3.${AWS::Region}.amazonaws.com/resources/DynamoDB/dynamodb.yaml
      Parameters:
        Stage: !Ref Stage
        AppName: !Ref AppName

  # S3 Buckets for frontend and assets
  S3Stack:
    Type: AWS::CloudFormation::Stack
    Properties:
      TemplateURL: !Sub https://${TemplateBucketName}.s3.${AWS::Region}.amazonaws.com/resources/S3/s3.yaml
      Parameters:
        Stage: !Ref Stage
        AppName: !Ref AppName

  # Cognito Resources
  CognitoStack:
    Type: AWS::CloudFormation::Stack
    Properties:
      TemplateURL: !Sub https://${TemplateBucketName}.s3.${AWS::Region}.amazonaws.com/resources/Cognito/cognito.yaml
      Parameters:
        Stage: !Ref Stage
        AppName: !Ref AppName

  # CloudFront Distribution
  CloudFrontStack:
    Type: AWS::CloudFormation::Stack
    DependsOn: S3Stack
    Properties:
      TemplateURL: !Sub https://${TemplateBucketName}.s3.${AWS::Region}.amazonaws.com/resources/CloudFront/cloudfront.yaml
      Parameters:
        Stage: !Ref Stage
        AppName: !Ref AppName
        AppBucketName: !GetAtt S3Stack.Outputs.FrontendBucketName
        AppBucketArn: !GetAtt S3Stack.Outputs.FrontendBucketArn
        AppBucketRegionalDomainName: !GetAtt S3Stack.Outputs.FrontendBucketRegionalDomainName

  # AppSync API
  AppSyncStack:
    Type: AWS::CloudFormation::Stack
    DependsOn: [DynamoDBStack, CognitoStack]
    Properties:
      TemplateURL: !Sub https://${TemplateBucketName}.s3.${AWS::Region}.amazonaws.com/resources/AppSync/appsync.yaml
      Parameters:
        Stage: !Ref Stage
        AppName: !Ref AppName
        TemplateBucketName: !Ref TemplateBucketName
        UserPoolId: !GetAtt CognitoStack.Outputs.UserPoolId
        DataTableName: !GetAtt DynamoDBStack.Outputs.DataTableName
        AppSyncDynamoDBRoleArn: !GetAtt DynamoDBStack.Outputs.AppSyncDynamoDBRoleArn
        ResolversBuildHash: !Ref ResolversBuildHash
        SchemaHash: !Ref SchemaHash
        LogRetentionInDays: !Ref LogRetentionInDays

Outputs:
  ApiUrl:
    Description: AppSync API URL
    Value: !GetAtt AppSyncStack.Outputs.AppSyncApiUrl
    Export:
      Name: !Sub nlmonorepo-${AppName}-${Stage}-api-url

  ApiId:
    Description: AppSync API ID
    Value: !GetAtt AppSyncStack.Outputs.AppSyncApiId
    Export:
      Name: !Sub nlmonorepo-${AppName}-${Stage}-api-id

  UserPoolId:
    Description: "Cognito User Pool ID for the application"
    Value: !GetAtt CognitoStack.Outputs.UserPoolId
    Export:
      Name: !Sub "nlmonorepo-${AppName}-${Stage}-user-pool-id"

  UserPoolClientId:
    Description: "Cognito User Pool Client ID for the application"
    Value: !GetAtt CognitoStack.Outputs.UserPoolClientId
    Export:
      Name: !Sub "nlmonorepo-${AppName}-${Stage}-user-pool-client-id"

  UserPoolDomain:
    Description: "Cognito User Pool Domain for OAuth"
    Value: !GetAtt CognitoStack.Outputs.UserPoolDomain
    Export:
      Name: !Sub "nlmonorepo-${AppName}-${Stage}-user-pool-domain"

  CloudFrontDistributionId:
    Description: "CloudFront Distribution ID"
    Value: !GetAtt CloudFrontStack.Outputs.CloudFrontDistributionId
    Export:
      Name: !Sub "nlmonorepo-${AppName}-${Stage}-cloudfront-distribution-id"

  CloudFrontDomainName:
    Description: "CloudFront Distribution Domain Name"
    Value: !GetAtt CloudFrontStack.Outputs.CloudFrontDomainName
    Export:
      Name: !Sub "nlmonorepo-${AppName}-${Stage}-cloudfront-domain-name"

  DataTableName:
    Description: "DynamoDB Table Name"
    Value: !GetAtt DynamoDBStack.Outputs.DataTableName
    Export:
      Name: !Sub "nlmonorepo-${AppName}-${Stage}-data-table-name"

  WebsiteBucket:
    Description: "S3 bucket for frontend website assets"
    Value: !GetAtt S3Stack.Outputs.FrontendBucketName
    Export:
      Name: !Sub "nlmonorepo-${AppName}-${Stage}-website-bucket"

  UserPoolDomain:
    Description: "Cognito User Pool Domain"
    Value: !GetAtt CognitoStack.Outputs.UserPoolDomain
    Export:
      Name: !Sub "nlmonorepo-${AppName}-${Stage}-user-pool-domain"
