AWSTemplateFormatVersion: "2010-09-09"
Description: "App Builder Studio - Static Website with Contact and Quote Forms"

Parameters:
  Stage:
    Type: String
    Description: Deployment stage (e.g., dev, prod)
    AllowedPattern: ^[a-zA-Z0-9-]+$
  AppName:
    Type: String
    Description: Application short name
    Default: appbuilderstudio
  TemplateBucketName:
    Type: String
    Description: Name of the S3 bucket containing nested stack templates
  LogRetentionInDays:
    Type: Number
    Description: Number of days to retain CloudWatch Logs
    Default: 14
  DomainName:
    Type: String
    Description: Custom domain name (e.g., app-builder-studio.com or www.app-builder-studio.com). Leave empty to use CloudFront domain only.
    Default: ""
  CertificateArn:
    Type: String
    Description: ARN of ACM certificate for the custom domain (must be in us-east-1). Required if DomainName is provided.
    Default: ""

Resources:
  # S3 Bucket for static website
  S3Stack:
    Type: AWS::CloudFormation::Stack
    Properties:
      TemplateURL: !Sub https://${TemplateBucketName}.s3.${AWS::Region}.amazonaws.com/resources/S3/s3.yaml
      Parameters:
        Stage: !Ref Stage
        AppName: !Ref AppName

  # Lambda for contact form emails
  LambdaStack:
    Type: AWS::CloudFormation::Stack
    Properties:
      TemplateURL: !Sub https://${TemplateBucketName}.s3.${AWS::Region}.amazonaws.com/resources/Lambda/lambda.yaml
      Parameters:
        Stage: !Ref Stage
        AppName: !Ref AppName
        TemplateBucketName: !Ref TemplateBucketName
        LogRetentionInDays: !Ref LogRetentionInDays

  # CloudFront distribution for website
  CloudFrontStack:
    Type: AWS::CloudFormation::Stack
    DependsOn: S3Stack
    Properties:
      TemplateURL: !Sub https://${TemplateBucketName}.s3.${AWS::Region}.amazonaws.com/resources/CloudFront/cloudfront.yaml
      Parameters:
        Stage: !Ref Stage
        AppName: !Ref AppName
        FrontendBucketName: !GetAtt S3Stack.Outputs.FrontendBucketName
        FrontendBucketRegionalDomainName: !GetAtt S3Stack.Outputs.FrontendBucketRegionalDomainName
        DomainName: !Ref DomainName
        CertificateArn: !Ref CertificateArn

Outputs:
  WebsiteBucket:
    Description: "S3 bucket for static website"
    Value: !GetAtt S3Stack.Outputs.FrontendBucketName
    Export:
      Name: !Sub "nlmonorepo-${AppName}-${Stage}-website-bucket"

  CloudFrontDistributionId:
    Description: "CloudFront Distribution ID"
    Value: !GetAtt CloudFrontStack.Outputs.CloudFrontDistributionId
    Export:
      Name: !Sub "nlmonorepo-${AppName}-${Stage}-cloudfront-id"

  CloudFrontURL:
    Description: "CloudFront Distribution URL"
    Value: !GetAtt CloudFrontStack.Outputs.CloudFrontURL
    Export:
      Name: !Sub "nlmonorepo-${AppName}-${Stage}-cloudfront-url"

  WebsiteURL:
    Description: "Website URL (CloudFront or Custom Domain)"
    Value: !GetAtt CloudFrontStack.Outputs.CloudFrontURL
    Export:
      Name: !Sub "nlmonorepo-${AppName}-${Stage}-website-url"

  ContactFormFunctionUrl:
    Description: "Lambda Function URL for contact/quote forms"
    Value: !GetAtt LambdaStack.Outputs.SendContactEmailFunctionUrl
    Export:
      Name: !Sub "nlmonorepo-${AppName}-${Stage}-contact-function-url"
