AWSTemplateFormatVersion: "2010-09-09"
Description: "Lawn Order - Simple Static Website with Contact Form"

Parameters:
  Stage:
    Type: String
    Description: Deployment stage (e.g., dev, prod)
    AllowedPattern: ^[a-zA-Z0-9-]+$
  AppName:
    Type: String
    Description: Application short name
    Default: lawnorder
  TemplateBucketName:
    Type: String
    Description: Name of the S3 bucket containing nested stack templates
  LogRetentionInDays:
    Type: Number
    Description: Number of days to retain CloudWatch Logs
    Default: 14

Resources:
  # S3 Bucket for static website
  S3Stack:
    Type: AWS::CloudFormation::Stack
    Properties:
      TemplateURL: !Sub https://${TemplateBucketName}.s3.${AWS::Region}.amazonaws.com/resources/S3/s3.yaml
      Parameters:
        Stage: !Ref Stage
        AppName: !Ref AppName

  # Lambda for contact form emails
  LambdaStack:
    Type: AWS::CloudFormation::Stack
    Properties:
      TemplateURL: !Sub https://${TemplateBucketName}.s3.${AWS::Region}.amazonaws.com/resources/Lambda/lambda.yaml
      Parameters:
        Stage: !Ref Stage
        AppName: !Ref AppName
        TemplateBucketName: !Ref TemplateBucketName
        LogRetentionInDays: !Ref LogRetentionInDays

Outputs:
  WebsiteBucket:
    Description: "S3 bucket for static website"
    Value: !GetAtt S3Stack.Outputs.FrontendBucketName
    Export:
      Name: !Sub "nlmonorepo-${AppName}-${Stage}-website-bucket"

  WebsiteURL:
    Description: "Website URL"
    Value: !GetAtt S3Stack.Outputs.WebsiteURL
    Export:
      Name: !Sub "nlmonorepo-${AppName}-${Stage}-website-url"

  ContactFormFunctionUrl:
    Description: "Lambda Function URL for contact/quote forms"
    Value: !GetAtt LambdaStack.Outputs.SendContactEmailFunctionUrl
    Export:
      Name: !Sub "nlmonorepo-${AppName}-${Stage}-contact-function-url"
